:root{
    --background : #1C1C1C;
    --parcelas : #404040;
    --items : #4F4F4F;
    --items-hover : rgb(88, 88, 88);
    --verde : #00ff8a;
    --verde-hover : #00d372;
    --palavras : #bdbdbd;
    --branco : #ffffff;
    --nav : #333333;
}

*{
    border: none;
    padding: 0;
    margin: 0;
}


p,h1,h2,h3,h4,h5,h6,small{
    color: var(--items);
}

.white{
    color: var(--white);
}


.menu{
    width: 300px;
    background-color: var(--nav);
    height: 100%;
    padding-top: 30px;
    position: fixed;
}

.menu .logo{
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
}

.menu .stitle{
    text-align: left;
    padding-left: 30px;
    font-size: 12px;
    text-transform: uppercase;
}

.menu .itens ul li{
    padding: 10px;
    border-radius: 10px;
    max-width: 230px;
}

.menu .itens ul li:hover{
    background-color: var(--items-hover);
}
.menu .itens ul li a{
    color: var(--branco);
    font-size: 15px;
    text-decoration: none;
}

.menu .itens ul li .icon {
     font-size: 18px;
}

#open_admin_menu_down{
    justify-content: center;
}

.menu-admin{
    position: absolute;
    bottom: 0px;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
}
