:root {
    --white: #ffffff;
    --fundo: #f0f2f5;
    --verde: #00ff8a;
    --verdeh: #00d372;
    --dark: #1C1C1C;
    --cizento: #404040;
    --sgrey: #404040;
    --swhite: #bdbdbd;

    --background: #1C1C1C;
    --parcelas: #404040;
    --items: #4F4F4F;
    --items-hover: rgb(88, 88, 88);
    --verde: #00ff8a;
    --verde-hover: #00d372;
    --palavras: #bdbdbd;
    --branco: #ffffff;
    --nav: #333333;
}

li {
    list-style: none;
}

a, li {
    color: var(--white);
}

* {
    font-family: Arial;
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);

}

.h100 {
    height: 100%;
}

p {
    color: var(--white);
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--white);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white);
}

bold {
    color: var(--white);
}

small {
    color: var(--white);
}

.flex {
    display: flex;
}


img {
    max-height: 100%;
    max-width: 100%;
}

.dots:after {
    content: '\2807';
    font-size: 30px;
    color: var(--white);
    float: right;
    cursor: pointer;
}

.card {
    background-color: var(--parcelas);
}

.preloader {
    background-color: var(--dark);
    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
    transition-duration: 0.4s;
}

.preloader .center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.preloader .logo {
    max-width: 500px;
    animation: anim-logo-preloader 3s ease-out infinite normal;
    margin: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}


@keyframes anim-logo-preloader {
    0% {
        max-width: 500px;
    }
    25% {
        max-width: 600px;
    }
    40% {
        max-width: 600px;
    }
    80% {
        max-width: 500px;
    }

}


.preloader .bar {
    text-align: center;
    margin: 40px;
    width: 350px;
    height: 15px;
    display: inline-block;
    background-size: 200% 100%;
    background-image: linear-gradient(to left, var(--verde) 50%, transparent 50%);
    animation: progressbar 1.2s ease infinite;
}

@-webkit-keyframes progressbar {
    0% {
        background-position: 0 0;
    }
    30%, 60% {
        background-position: -100% 0%;
    }
    60%, 100% {
        background-position: -200% 0;
    }
}


.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.m30 {
    margin: 30px;
}

.m40 {
    margin: 40px;
}


.container {
    width: 100%;
    height: 100%;
    padding-left: 270px;
    padding-top: 10px;
}

.s-container {
    width: 100%;
    padding-left: 300px;
    padding-top: 10px;
}

.title-table {
    margin-top: 20px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--items);
}

.title-table h2 {
    margin-top: 10px;
    color: var(--white);
}

table {
    border-radius: 0px 0px 10px 10px;
    background-color: var(--parcelas);
}

table td, table th {
    padding: 8px 12px 8px 12px;
}

table th, table td {
    color: var(--white);
}

tbody tr:nth-child(odd){
    background-color: var(--items);
    color: #fff;
}

.title-page {
    background-color: var(--nav);
}

.title-page h1 {
    padding-left: 20px;
    padding-bottom: 10px;
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
}

.mini-card {
    padding: 10px;
    width: 180px;
    height: 180px;
    background-color: var(--parcelas);
    margin: 10px;
    border-radius: 8px;
}

.mini-card .icon {
    margin-left: 8px;
    border-radius: 50%;
    padding: 14px;
    background-color: var(--items);
    color: var(--verde);
    font-size: 40px;
    margin-bottom: 20px;
}

.mini-card .titulo {
    padding-left: 10px;
    color: var(--palavras);
    text-align: left;
    font-size: 16px;
}

.mini-card .valor {
    padding-left: 10px;
    color: var(--white);
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

.mini-card {

}

.armazenamento {
    background-color: var(--parcelas);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.armazenamento .item-titulo {
    color: var(--white);
}

.armazenamento .stext-white{
    color: var(--palavras);
}

.user-img {
    border-radius: 50%;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}


