@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,300,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    background-color: rgb(236, 236, 236);
}




/*===============================================================================================================================================================*/
/*HOME*/

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background: url("..//img/login/background-login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.caixa1-home {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;


}

.caixa2-home {
    width: 35%;
    height: auto;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;

}


/*========================================================================================================================================================*/
/*SECACAO DA ESQUERDA*/


.logo-caixa {
    width: 50%;
    margin-bottom: 10%;
}

.caixa1-home span {
    font-weight: bold;
    color: #0094ff;

}

.caixa1-home {
    font-size: 28px;
    padding: 5%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

}




/*=========================================================================================================================================================*/
/*FORMULARIO*/

.botao-caixa {
    width: 220px;
    background-color: white;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botoes-form {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#fundo-botoes {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #0094ff;
    border-radius: 30px;
    transition: .05s;
}

.formulario-login {
    width: 70%;
    transition: .5s;

}

.form-input {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    transition: all 150ms ease-in-out;
}

.form-input:hover{
    transform: scale(1.05);
    transition: all 150ms ease-in-out;
}

.botao-submeter {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #0094ff;
    border: 0;
    outline: none;
    border-radius: 30px;
    color:white;
    border: 0;
    transition: all 150ms ease-in-out;
    margin-bottom: 30px;
}


.botao-submeter:hover{
    background-color: #0074c7;
    border: 0;
    transition: all 300ms ease-in-out;
    transform: scale(1.01);
}



.check-box {

    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #0094ff;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: 15px;
}

.check-box:checked {
    background-color: #0094ff;
}

#checkbox {
    user-select: none;
}

#checkbox span{
        font-weight: bold;
        color: #0094ff;   
}


#checkbox span:hover{
    text-decoration: underline;  
}



.formulario-login span {
    color: #777;
    font-size: 12px;
}


#register {
    display: none;
}

input {
    color: #777;
    font-size: 12px;
    bottom: 68px;

}

label {
    color: #777;
    font-size: 12px;
    bottom: 68px;
}

option {
    color: black;

}

select {
    color: #777;
    font-size: 12px;
    bottom: 68px;
}





/*=====================================================================================================================================================*/
/*FOOTER*/

.footer {
    width: 100%;
    height: 15vh;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer-informacoes {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.footer a {
    text-decoration: none;
    margin: 2%;
    color: #777;
    font-size: 14px;

}

.footer a:hover {
    text-decoration: underline;
}

#footer-copyright {
    color: #777;
    font-size: 12px;
}