/*css geral*/

*{
    margin: 0;
    padding: 0;
}
  
  html {
    scroll-behavior: smooth;
  }

/*wrapper da pagina*/
.conteudo {
    max-width: 90%;
    width: 90%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;  
}

/*barra lateral das mensagens*/
.barra-listagem-mensagens {
    width: 35%;
    max-width: 35%;
    z-index: 1;
    height: 100%;
    position: fixed;
    top: 0;
}