.definicoes {
    margin-top: 98px;
    color: white;
}

.esquerda_opcoes {
    width: 25%;
}

.esquerda_opcoes h3 {
    padding: 10px;
    padding-top: 0px;
}

.opcoes_definicoes ul li {
    margin-left: 10px;
    font-size: 17px;
    padding: 10px;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.opcoes_definicoes ul li a {
    color: #bdbdbd;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.opcoes_definicoes ul li a i {
    padding: 5px;
    font-size: 30px;
}

.opcoes_definicoes ul li:hover {
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
}