.definicoes {
    margin-top: 98px;
    color: white;
}

.esquerda_opcoes {
    width: 25%;
}

.esquerda_opcoes h3 {
    padding: 10px;
    padding-top: 0px;
}

.opcoes_definicoes ul li {
    font-size: 17px;
    padding: 10px;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.opcoes_definicoes ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.opcoes_definicoes ul li a i {
    padding: 5px;
    font-size: 30px;
}