.wrap-conteudo {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-color: #1c1c1c;
}

.ft-emprego {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.foto-emprego {
  width: 32%;
  height: 250px;
}

.nome-emp {
  text-align: center;
}

.conteudo {
  max-width: 75%;
  width: 75%;
  height: 100%;
  margin-left: auto;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 98px;

}

.caixa-emprego {
  background-color: #404040;
  width: 90%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  position: relative;
  border-radius: 10px;
}

.caixa-emprego:hover {
  background-color: rgb(88, 88, 88);

}

.conteudo-emprego {
  width: 60%;
  color: white;
  height: 100%;

}

.wrap-dt-emp {
  padding: 15px;
}

.detalhes {
  padding: 10px;
  display: flex;
  width: 100%;
}

.ind-detalhes {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.texto-detalhes {
  display: flex;
  flex-direction: column;
}

.btn-emprego {
  padding: 5px 20px;
  border: none;
  background-color: #00ff8a;
  text-transform: uppercase;
  font-weight: bold;
  color: #404040;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 1s;
}

.btn-emprego:hover {
  transform: scale(1.05);
  transition: 1s;
}

/*pesquisa e adicionar*/

.wrap_pesquisa {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;

}

.wrap_pesquisa form {
  width: 75%;
}

.div_input_search_pesquisa {
  display: flex;
}

.button_search_pesquisa i.bx-search {
  padding: 8px;
  color: #bdbdbd;
  font-size: 30px;
  background-color: #4e4f50;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search_pesquisa button {
  background-color: transparent;
  border: 0;
}

input.input_seach_pesquisa {
  outline: none;
  background-color: #404040;
  color: #bdbdbd;
  border: 0;
  padding: 10px;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button_modal {
  display: flex;
  height: 100%;
  font-weight: 600;
  width: 12%;
  border-radius: 10px;
  margin-left: 20px;
  background-color: #00ff8a;
  color: #404040;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#form {
  display: none;
}


.clicavel:hover {
  cursor: pointer;
}


.link-perfil {
  text-decoration: none;
  color: white;
}

.link-perfil:hover {
  color: #00ff8a;
}

.pesq {
  color: white;
}

td {
  width: 100%;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* empregos mobile*/
@media (max-width: 900px) {

  .wrap-empregos {
    padding-bottom: 80px;
  }

  .conteudo {
    width: 95%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .caixa-emprego {
    flex-direction: column;
    align-items: center;
  }

  .conteudo-emprego {
    width: 100%;
  }

  .wrap-dt-emp {
    padding-bottom: 0px;

  }

  .btn-wrp {
    margin-top: 5%;
  }

  .detalhes {
    width: 100%;
    justify-content: center;
  }

  .ind-detalhes {
    width: auto;
    margin-right: 20px;

  }

  .texto-detalhes {
    width: auto;
  }

  .foto-emprego {
    width: auto;
    height: auto;
  }

  .ft-emprego {
    border-radius: 10px 10px 0 0px;
  }

  .wrap-conteudo-emprego {
    padding-bottom: 80px;

  }

  td {
    padding: 5px;
  }

  .btn-emprego {
    padding: 5px 20px;
    border: none;
    background-color: #00ff8a;
    text-transform: uppercase;
    font-weight: bold;
    color: #404040;
    border-radius: 5px;
    right: 0;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    left: 0;
    right: 0;
    text-align: center;
    transition: 1s;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: inherit;

  }

}