

/*===============================================================================================================================================================*/
/*HOME*/

.home {
  display: flex;
  flex-direction: row;
  z-index: -1;
}


.center {
  display: flex;
  min-height: 100vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  flex-direction: column;
  align-items: center;
  background-color: #404040;
  margin: 30px;
  margin-bottom: 0;

}

/*===============================================================================================================================================*/
/*Adicionar Evento*/

#adicionar-evento{
  display: none;
  width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: absolute;
  margin-top: 50px;
}

form{
  width: 40%;
  height: auto;
  background-color: #333333;
  padding: 30px;
  border-radius: 15px;
}

.img_eventos {
  display: none;
  width: auto;
  position: relative;
  height: 100px;
  border-radius: 10px;
  border: 2px dashed #00ff8a;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 30px 0;
}

.img_eventos i {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 30px;
  color: #00ff8a;
}

#img_eventos {
  width: 50%;
}

.buttons_post {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.upload_btn {
  display: flex;
  font-size: 30px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #bdbdbd;
  background-color: #4f4f4f;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.upload_img:hover .upload_btn {
  background-color: rgb(88, 88, 88);
}

.upload_img input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


#botao-cancelar{
  color: rgb(166, 0, 0);
  font-size: 50px;
}


.caixas-texto {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixas-texto textarea {
  color: #bdbdbd;
  border: 0;
  width: 70%;
  resize: none;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  overflow: hidden;
  border-color: transparent;
  background-color: #4f4f4f;
  border-radius: 10px;
}

textarea::placeholder {
  color: #bdbdbd;
}

textarea:focus {
  outline: none;
}

#post_btn {
  font-size: 17px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: #00ff8a;
  width: 120px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  border-radius: 10px;
}

#post_btn:hover {
  background-color: #00d372
}

/*====================================================================================================================================================================================================*/
/*CAIXAS*/

.caixa-adicionar {
  display: flex;
  width: 75%;
  height: 100px;
  border-radius: 15px;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  margin-top: 30px;
  justify-content: center;
  align-content: center;

}

#botao-adicionar {
  width: 250px;
  font-size: 15px;
  margin-top: 0;
}

.caixas-eventos1 {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}


.caixa {
  background-color: transparent;
  width: 250px;
  height: 250px;
  border: 0;
  perspective: 1000px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.caixa-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}


.caixa:hover .caixa-inner {
  transform: rotateY(180deg);
}


.caixa-frente, .caixa-costas {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}


.caixa-frente {
  background-color: #bbb;
  color: black;

}

.caixa-costas {
  background-color: #1C1C1C;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.imagens {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.botao-caixacostas {
  width: 70%;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #00ff8a;
  font-weight: bold;
  border: 0;
  outline: none;
  border-radius: 15px;
  color: black;
  border: 0;
  transition: all 150ms ease-in-out;
  margin-top: 20px;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #1C1C1C;
  text-shadow: -1px 0 #00ff8a, 0 1px #00ff8a, 1px 0 #00ff8a, 0 -1px #00ff8a;
}

.caixa-costas p {
  margin-bottom: 3px;
}

.botao-caixacostas:hover {
  background-color: #00d372;
  border: 0;
  transition: all 300ms ease-in-out;
  transform: scale(1.01);
}


#adicionar {
  width: 50%;
  height: 50%;
}

#caixa-adicionar {
  border: 2px dashed #1C1C1C;
  border-radius: 15px;
}