@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  background-color: #1c1c1c;
}

.parts {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  width: 25%;
  min-width: 250px;
}

.left ul {
  margin-top: 20px;
  position: fixed;
  width: 20%;
  min-width: 250px;
}

.left ul a {
  padding: 15px;
  width: 100%;
  display: flex;
  list-style: none;
  color: #bdbdbd;
  text-decoration: none;
  align-items: center;
}

.left ul a.verperfil {
  color: white;
}

.left ul a i {
  width: 30px;
  font-size: 1.6rem;
  margin-right: 10px;
  height: 30px;
}

.left li {
  cursor: pointer;
  display: flex;
  height: 60px;
  padding: 10px;
  flex-direction: row;
  align-items: center;
}

.left li:hover a {
  border-radius: 10px;
  background-color: rgb(88, 88, 88);
}

.left .avatar {
  background-color: #00ff8a;
  padding: 2px;
  border-radius: 100%;
  width: 30px;
  margin-right: 10px;
  height: 30px;
  display: flex;
}

.left .footer_left {
  font-size: 13px;
  color: #bdbdbd;
  padding: 10px;
  bottom: 0;
  position: fixed;
  width: 20%;
  height: 60px;
}

.footer_left a {
  font-size: 13px;
  color: #bdbdbd;
  text-decoration: none;
}

.footer_left a:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  width: 50%;
  border-radius: 40px;
  flex-direction: column;
  align-items: center;
}

.weather, .make_post {
  margin-top: 30px;
  position: relative;
  width: 80%;
  color: #bdbdbd;
  background-color: #404040;
  padding: 20px;
  border-radius: 15px;
}

.weather_loca h2 {
  text-align: center;
  font-weight: 300;
  color: #00ff8a;
}

.weather_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.weather_info h4 {
  font-size: 4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.weather_info img {
  width: 25%;
  height: 25%;
}

.header_post {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.circles {
  margin: 6px;
  padding: 7px;
  height: 10px;
  border-radius: 100%;
  width: 10px;
}

.one {
  background-color: #ff5f5a;
}

.two {
  background-color: #ffbe2e;
}

.three {
  background-color: #00ff8a;
}

.textarea {
  margin-top: 10px;
  border-bottom: 2px solid #00ff8a;
}

.textarea textarea {
  color: #bdbdbd;
  border: 0;
  width: 100%;
  resize: none;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  overflow: hidden;
  border-color: transparent;
  background-color: #4f4f4f;
  border-radius: 10px;
}

textarea::placeholder {
  color: #bdbdbd;
}

textarea:focus {
  outline: none;
}

.post_img {
  margin: 30px;
}

.upload_img {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload_btn {
  display: flex;
  font-size: 30px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #bdbdbd;
  background-color: #4f4f4f;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.upload_img:hover .upload_btn {
  background-color: rgb(88, 88, 88);
}

.upload_img input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.img_post {
  display: none;
  width: auto;
  position: relative;
  height: 100px;
  border-radius: 10px;
  border: 2px dashed #00ff8a;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 30px 0;
}

.img_post i {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 30px;
  color: #00ff8a;
}

#img_post {
  width: 50%;
}

.buttons_post {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#post_btn {
  font-size: 17px;
  color: white;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: #00ff8a;
  width: 100px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  border-radius: 10px;
}

#post_btn:hover {
  background-color: #00d372
}

.post {
  margin-top: 30px;
  color: white;
  width: 80%;
  background-color: #404040;
  border-radius: 15px;
}

.user_post_info {
  padding: 10px 10px 0;
}

.post_user_avatar {
  padding: 5px;
  display: flex;
  align-items: center;
}

.post_text {
  margin-top: 10px;
}

.post_user_avatar img {
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 100%;
  background-color: #00ff8a;
}

.post_user_info {
  height: 40px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.post_user_name {
  font-size: 20px;
}

.post_user_date {
  color: #bdbdbd;
  font-size: 13px;
}

.post_user_img {
  background-image: url(../img/login/background-login.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-top: 15px;
  width: 100%;
  height: 400px;
}

.post_number_likes_comments {
  font-size: 17px;
  display: flex;
  padding: 10px;
  align-items: center;
}

.post_number_likes_comments i {
  color: #00ff8a;
  padding: 5px;
}

.post_like_comment_share {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid white;
  padding: 10px;
}

#like, #comment, #share {
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
}

.active {
  color: #00ff8a;
  transform: scale(1);
  animation: animate .5s steps(28) 1;
}

@keyframes animate {
  0% {
    background-color: transparent;
    transform: scale(1);
  }

  25% {
    background-color: transparent;
    transform: scale(1);
  }

  50% {
    background-color: transparent;
    transform: scale(1.2);
  }

  75% {
    background-color: transparent;
    transform: scale(1.2);
  }

  100% {
    background-color: transparent;
    transform: scale(1);
  }
}

#like i, #comment i, #share i {
  padding: 5px;
}

#like:hover, #comment:hover, #share:hover {
  background-color: rgb(88, 88, 88);
}

.comment_section, .comment_user {
  display: none;
}

.comment_section form {
  padding: 15px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.comment_section textarea {
  color: #bdbdbd;
  border: 0;
  width: 100%;
  resize: none;
  height: 80px;
  padding: 10px;
  font-size: 16px;
  overflow: hidden;
  border-color: transparent;
  background-color: #4f4f4f;
  border-radius: 5px;
}

.comment_limit {
  padding: 5px;
  color: #bdbdbd;
  margin-right: 1px;
  margin-top: -30px;
  text-align: right;
}

.comment_user_avatar {
  padding: 10px;
  display: flex;
}

.comment_user_avatar img {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 100%;
  background-color: #00ff8a;
}

.comment_text {
  background-color: #4f4f4f;
  margin: 4px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

.comment_user_name {
  color: #00ff8a;
}