.pagina_perfil {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.conteudo_pagina_perfil {
  margin-top: 30px;
  width: 70%;
  height: 390px;
  background-color: #404040;
  border-radius: 15px;
}

.fundo_perfil {
  width: 100%;
  height: 300px;
}

.fundo_perfil img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.pagina_foto_perfil {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
  flex-direction: column;
  color: white;
}

.pagina_foto_perfil p {
  padding: 5px;
}

.pagina_foto_perfil img {
  width: 100px;
  height: 100px;
  padding: 2px;
  border-radius: 100%;
  background-color: #00ff8a;
}

.pagina_info {
  display: flex;
  flex-direction: row;
  color: white;
}

.n_posts,
.n_followers {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bandeira {
  padding: 20px;
  display: flex;
  align-items: center;
}

.espaco_info_buttons {
  display: flex;
  justify-content: space-between;
}

.pagina_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagina_button_adicionar {
  padding: 20px;
}

.mandar_mensagem {
  text-decoration: none;
  background: white;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mandar_mensagem i {
  color: #404040;
  font-size: 22px;
}

.pagina_button_editar {
  padding: 20px;
}

.pagina_button_adicionar form {
  display: flex;
}

.pagina_button_adicionar input {
  width: 100%;
  min-width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #00ff8a;
  border: 0;
  font-weight: 600;
  padding: 5px;
  outline: 0;
}

.pagina_button_adicionar input:hover {
  background-color: #00d372;
}

.pagina_button_editar input {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: rgb(88, 88, 88);
  border: 0;
  font-weight: 600;
  outline: 0;
}

.pagina_button_editar input:hover {
  background-color: #4f4f4f;
}

.pagina_perfil_baixo {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.titulo_perfil {
  color: rgb(143 143 143);
}

.perfil_sobre {
  width: 100%;
  background-color: #404040;
  color: white;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: fit-content;
}

.texto_sobre_perfil {
  padding: 5px;
}

.sobre_alinhado {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.posts_user {
  width: 70%;
}

.editar_perfil {
  top: 68px;
  margin-top: 50px;
  padding: 15px;
  position: fixed;
  box-shadow: 0px 20px 20px rgb(0 0 0 / 40%);
  background-color: #404040;
  border-radius: 15px;
  color: white;
}

.inserir_fotos {
  display: flex;
  margin-top: 10px;
}

.banner_perfil,
.foto_perfil,
.sobre_perfil {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.editar_perfil input {
  outline: none;
  border: none;
  padding: 5px 0px;
}

#sobre_perfil,
#programas_perfil {
  padding: 5px;
}

#form_editar_perfil {
  display: none;
}

.wrap_fechar_tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fechar_modal_editar {
  font-size: 30px;
  cursor: pointer;
}

#fechar_modal_editar:hover {
  color: #00ff8a;
}

.sobre_perfil textarea,
.linguagens_perfil textarea {
  margin-top: 5px;
  color: #bdbdbd;
  border: 0;
  width: 100%;
  resize: none;
  height: 80px;
  font-size: 16px;
  overflow: hidden;
  border-color: transparent;
  background-color: #4f4f4f;
  border-radius: 5px;
}

.linguagens_perfil {
  margin-top: 10px;
}

#form_editar_perfil input[type="submit"] {
  float: right;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #00ff8a;
  border: 0;
  font-weight: 600;
  outline: 0;
}

#form_editar_perfil input[type="submit"]:hover {
  background-color: #00d372;
}

.posts_user {
  margin-left: 30px;
}

.post {
  margin: 0;
  margin-bottom: 30px;
  width: 100%;
}

.form_input_nacionalidade {
  margin-top: 5px;
  color: #bdbdbd;
  width: 100%;
  resize: none;
  height: 40px;
  font-size: 16px;
  border: 0;
  outline: none;
  background-color: #4f4f4f;
  border-radius: 5px;
}

.amigos ul {
  margin-top: 10px;
}

.amigos ul li {
  margin-bottom: 15px;
}

.posts_sobre {
  display: none;
}

@media (max-width:1200px) {
  .conteudo_pagina_perfil {
    width: 100%;
  }
}

@media (max-width:900px) {
  .posts_sobre {
    display: flex;
    color: white;
    margin: 20px;
    margin-top: 10px;
  }

  .posts_sobre div {
    background-color: #404040;
    display: flex;
    width: 50%;
    height: 50px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    border-bottom: 2px solid transparent;
  }

  .pagina_perfil {
    margin-top: 0;
  }

  #posts {
    margin-right: 10px;
    color: #00ff8a;
    border-bottom-color: #00ff8a;
  }

  #posts, #sobre {
    cursor: pointer;
  }

  #posts:hover, #sobre:hover {
    background-color: rgb(88, 88, 88);
  }

  .conteudo_pagina_perfil {
    height: 450px;
  }

  .espaco_info_buttons {
    margin-top: 70px;
  }

  .perfil_esquerda_baixo {
    display: none;
    margin: 20px;
    width: auto;
  }

  .pagina_perfil_baixo {
    display: block;
    margin-top: 0;
    padding-bottom: 70px;
  }

  .posts_user {
    margin: 20px;
    width: auto;
  }

  .editar_perfil::-webkit-scrollbar {
    width: 0px;
  }

  .editar_perfil {
    width: 90%;
    height: 400px;
    overflow-y: auto;
  }

  .inserir_fotos {
    flex-direction: column;
  }

  .pagina_button_adicionar {
    padding-left: 10px;
  }

  .n_posts {
    padding-right: 10px;
  }

  .n_followers {
    padding-left: 10px;
  }
}