@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: #1C1C1C;
    --parcelas: #404040;
    --items: #4F4F4F;
    --items-hover: rgb(88, 88, 88);
    --verde: #00ff8a;
    --verde-hover: #00d372;
    --palavras: #bdbdbd;
    --branco: #ffffff;
    --nav: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}


ul, li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c1c;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

.left {
    width: 25%;
    min-width: 250px;
}

.left ul {
    height: 550px;
    margin-top: 20px;
    width: 100%;
    min-width: 250px;
}

.left ul a {
    padding: 15px;
    width: 100%;
    display: flex;
    list-style: none;
    color: #bdbdbd;
    text-decoration: none;
    align-items: center;
}

.left ul a.verperfil {
    color: white;
}

.left ul a i {
    width: 30px;
    font-size: 1.6rem;
    margin-right: 10px;
    height: 30px;
}

.left li {
    cursor: pointer;
    display: flex;
    height: 60px;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}

.left li:hover a {
    border-radius: 10px;
    background-color: rgb(88, 88, 88);
}

.left .avatar {
    background-color: #00ff8a;
    padding: 2px;
    border-radius: 100%;
    width: 30px;
    margin-right: 10px;
    height: 30px;
    display: flex;
}

.left .footer_left {
    font-size: 13px;
    color: #bdbdbd;
    padding: 10px;
}

.footer_left a {
    font-size: 13px;
    color: #bdbdbd;
    text-decoration: none;
}

.footer_left a:hover {
    text-decoration: underline;
}

.left_fixed {
    position: fixed;
    overflow-y: scroll;
    height: 87%;
    padding-right: 10px;
}

.left_fixed::-webkit-scrollbar {
    width: 0px;
}

@media (max-width:1200px) {
    .left {
        display: none;
    }
}